* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* typography
========================================*/
h1,
h2,
h3,
p,
a {
  font-family: 'Yaldevi', sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1.7rem;
}

#air-quality .air-quality {
  font-size: 10rem;
}

/* Heading
========================================*/
body {
  background-image: linear-gradient(115deg, #fee140 0%, #fa7099 100%);
}

.heading {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 1.5em 3em;
}

.location-text {
  font-size: 1rem;
}

.description {
  text-align: center;
}

/* Main
========================================*/
main {
  display: flex;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;
  position: relative;
  padding: 1em 0;
}

.padding {
  padding: 2em;
  margin: 10px;
  border-radius: 15px;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.467);
}

.map-container {
  padding: 0.5em;
}

/* Data
========================================*/
main .data-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

main #air-quality {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

/* Search
========================================*/
#search-container {
  position: relative;
  margin-bottom: 10px;
}

#search-container .search {
  width: 100%;
  height: 40px;
  padding: 5px;
  font-size: 1.7rem;
}

#search-container .search:focus {
  outline: none;
}

#search-container .btn-search {
  position: absolute;
  top: 2px;
  right: 2px;
  font-size: 1.2rem;
  height: 36px;
  width: 60px;
  border: none;
  background: white;
  cursor: pointer;
}

#search-container .btn-search i {
  transition: 0.5s ease;
}

#search-container .btn-search i:hover {
  transform: translateX(5px);
  color: #6bd160;
}

/* Map
========================================*/
main #mapid {
  width: 900px;
  height: 600px;
}

/* Error popup
========================================*/
.error {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 10%;
  left: 10%;
  background: rgb(0, 202, 0);
  padding: 50px;
  z-index: 1000;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  visibility: hidden;
}

.error .error-btn {
  width: 50%;
  padding: 10px 0;
  margin: 10px auto;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
}

.show-error {
  visibility: visible;
}

/*Info
======================================*/
.information {
  width: 1200px;
  padding: 2em;
  margin: 20px auto;

  border-radius: 15px;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.467);
}

.links {
  display: flex;
  justify-content: center;
}

.links a {
  color: #131313;
  text-decoration: none;
}

.s2i {
  text-align: center;
  margin-bottom: 2em;
}

/*Loading animation
======================================*/
.searching {
  position: absolute;
  top: 40%;
  right: 50%;
  visibility: hidden;
}

.searching i {
  color: black;
  animation: spin 1s infinite linear;
  font-size: 5rem;
}

.show {
  visibility: visible;
}

.opacity {
  opacity: 0.5;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*mobile*/
@media only screen and (max-width: 920px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1rem;
  }

  h3 {
    font-size: 1rem;
  }

  p {
    font-size: 1rem;
  }

  header {
    width: 100%;
    padding: 10px !important;
  }

  .location-text {
    font-size: 0.7rem;
  }

  main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
  }

  .data-container {
    min-height: 40vh;
    width: 100% !important;
    text-align: center;
    border-radius: 0;
    order: 1;
  }

  .map-container {
    width: 100%;
    order: 0;
    padding: 1em;
  }

  .map-container #mapid {
    margin: 0 auto;
    width: 100%;
    height: 300px;
  }

  .searching {
    position: absolute;
    top: 50%;
    right: 40%;
  }

  .error {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0;
    border-radius: 0;
  }

  .information {
    width: 100%;
    border-radius: 0;
  }
}
